<div class="p-10 max-w-7xl mx-auto">
  <h2 class="font-bold text-3xl text-center mb-10">Date Time Picker</h2>

  <div class="flex gap-5 flex-wrap">
    <div class="picker-container">
      <date-time-picker [formControl]="datePickerControl" customClass="w-full" pickerType="date" label="Date picker" />

      @if (datePickerControl.value) {
        <p>{{ datePickerControl.value }}</p>
      }
    </div>

    <div class="picker-container">
      <date-time-picker [formControl]="dateTimePickerControl" customClass="w-full" label="Date time picker" />

      @if (dateTimePickerControl.value) {
        <p>{{ dateTimePickerControl.value }}</p>
      }
    </div>

    <div class="picker-container">
      <date-time-picker
        [formControl]="dateTimeRangePickerControl"
        customClass="w-full"
        pickerType="dateTimeRange"
        label="Date time range picker" />

      @if (dateTimeRangePickerControl.value) {
        <p>{{ dateTimeRangePickerControl.value.start }}</p>
        <p>{{ dateTimeRangePickerControl.value.end }}</p>
      }
    </div>

    <div class="picker-container">
      <date-time-picker [formControl]="timePickerControl" customClass="w-full" pickerType="time" label="Time picker" />

      @if (timePickerControl.value) {
        <p>{{ timePickerControl.value }}</p>
      }
    </div>

    <div class="picker-container">
      <date-time-picker
        [formControl]="dateRangePickerControl"
        customClass="w-full"
        pickerType="dateRange"
        label="Date range picker" />

      @if (dateRangePickerControl.value) {
        <p>{{ dateRangePickerControl.value.start }}</p>
        <p>{{ dateRangePickerControl.value.end }}</p>
      }
    </div>

    <div class="picker-container">
      <date-time-picker
        [formControl]="timeRangePickerControl"
        customClass="w-full"
        pickerType="timeRange"
        label="Time range picker" />

      @if (timeRangePickerControl.value) {
        <p>{{ timeRangePickerControl.value.startTime }}</p>
        <p>{{ timeRangePickerControl.value.endTime }}</p>
      }
    </div>
  </div>
</div>
